<mat-card>
    <mat-form-field>
        <input matInput #loginInput placeholder="ФИО" [formControl]="loginFormControl" required>
        <mat-error *ngIf="loginFormControl.hasError('required')">
            Обязательное поле
        </mat-error>
    </mat-form-field>
</mat-card>
<mat-card>
    <mat-form-field>
        <input matInput #rmailInput placeholder="Электронный почтовый ящик" [formControl]="emailFormControl" required>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Пожалуйста введите корректный электронный адрес
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Обязательное поле
        </mat-error>
    </mat-form-field>
</mat-card>
<mat-card>
    <mat-form-field>
        <input matInput #passwordInput maxlength="12" placeholder="Пароль" [formControl]="passwordFormControl" [type]="passwordHide ? 'password' : 'text'" required>
        <mat-hint>{{passwordInput.value?.length || 0}}/12</mat-hint>
        <mat-icon *ngIf="!passwordHide" matSuffix (click)="passwordHide = !passwordHide">visibility</mat-icon>
        <mat-icon *ngIf="passwordHide" matSuffix (click)="passwordHide = !passwordHide">visibility_off</mat-icon>
        <mat-error *ngIf="passwordFormControl.hasError('pattern')">
                Пароль не соответствует требованиям
            </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength') || passwordFormControl.hasError('maxlength')">
            Длина пароля должна быть от 8 до 12 символов
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Обязательное поле
        </mat-error>
    </mat-form-field>
</mat-card>
<mat-card>
    <mat-form-field>
        <mat-label>Роль</mat-label>
        <mat-select [formControl]="roleFormControl" required>
            <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-card>
<mat-card>
    <mat-form-field class="example-full-width">
        <textarea matTextareaAutosize matInput placeholder="Выбранный город :" value={{cityChecked}}></textarea>
    </mat-form-field>
</mat-card>
<mat-card class="city-radio">
    <mat-radio-group [(ngModel)]="cityChecked">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="regions-tree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <button mat-icon-button disabled></button>
                <mat-radio-button value="{{node.parent + node.name}}" required>{{node.name}}</mat-radio-button>
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <li>
                    <div class="mat-tree-node">
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        {{node.name}}
                    </div>
                    <ul [class.regions-tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                </li>
            </mat-nested-tree-node>
        </mat-tree>
    </mat-radio-group>
</mat-card>
<div *ngIf="passwordFormControl.hasError('pattern') || loginInput.value?.length == 0 || rmailInput.value?.length == 0 || passwordInput.value?.length == 0  || emailFormControl.hasError('email') || emailFormControl.hasError('required') || passwordFormControl.hasError('minlength') || passwordFormControl.hasError('maxlength') || loginFormControl.hasError('required') || roleFormControl.hasError('required') || cityChecked == '0'; else regEnabled">
    <button mat-raised-button disabled class="my-full-width" (click)="registration()">Зарегистрироваться</button>
</div>
<ng-template #regEnabled>
    <button mat-raised-button color="primary" class="my-full-width" (click)="registration()">Зарегистрироваться</button>
</ng-template>
