.mat-card
    margin-bottom: 2px
    margin-top: 2px
    border: 1px solid black
    font-size: 3vw

.mat-form-field
    width: 100%

.mat-raised-button
    width: 100%
    margin-bottom: 3px
    margin-top: 3px

.regions-tree-invisible
    display: none

.regions-tree ul, .regions-tree li
    padding-left: 2px
    margin-left: 2px
    margin-top: 0
    margin-bottom: 0
    list-style-type: none

.mat-radio-button, .mat-tree-node
    font-size: 2.5vw

@media (min-width: 768px)
    .mat-card
        font-size: 2vw
    .mat-radio-button, .mat-tree-node
        font-size: 2vw

@media (min-width: 1200px)
    .mat-card
        font-size: 1vw
    .mat-radio-button, .mat-tree-node
        font-size: 1vw
