.mat-card
    margin-bottom: 2px
    margin-top: 2px
    border: 1px solid black
    font-size: 3vw

.mat-form-field
    width: 100%

.mat-raised-button
    width: 100%
    margin-bottom: 3px
    margin-top: 3px

@media (min-width: 768px)
    .mat-card
        font-size: 2vw

@media (min-width: 1200px)
    .mat-card
