<mat-card>
    <mat-form-field>
        <input matInput #emailInput placeholder="Электронный почтовый ящик" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email')">
        Пожалуйста введите корректный электронный адрес
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
        Обязательное поле
        </mat-error>
    </mat-form-field>
</mat-card>
<mat-card>
    <mat-form-field>
        <input matInput #passwordInput maxlength="12" placeholder="Пароль" [formControl]="passwordFormControl" [type]="passwordHide ? 'password' : 'text'">
        <mat-hint>{{passwordInput.value?.length || 0}}/12</mat-hint>
        <mat-icon *ngIf="!passwordHide" matSuffix (click)="passwordHide = !passwordHide">visibility</mat-icon>
        <mat-icon *ngIf="passwordHide" matSuffix (click)="passwordHide = !passwordHide">visibility_off</mat-icon>
        <mat-error *ngIf="passwordFormControl.hasError('pattern')">
            Пароль не соответствует требованиям
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength') || passwordFormControl.hasError('maxlength')">
            Длина пароля должна быть от 8 до 12 символов
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Обязательное поле
        </mat-error>
    </mat-form-field>
</mat-card>
<div *ngIf="passwordFormControl.hasError('pattern') || emailFormControl.value?.length == 0 || passwordInput.value?.length == 0  || emailFormControl.hasError('email') || emailFormControl.hasError('required') || passwordFormControl.hasError('minlength') || passwordFormControl.hasError('maxlength'); else authEnabled">
    <button mat-raised-button disabled class="my-full-width">Авторизироваться</button>
</div>
<ng-template #authEnabled>
    <button mat-raised-button color="primary" class="my-full-width" (click)="auth()">Авторизироваться</button>
</ng-template>
