.container
    overflow: auto
    z-index: -999
    background-color: rgb(240, 240, 240)
    .mat-card
        margin: 16px
        border-radius: 8px
        border: 1px solid black
        .mat-form-field
            width: 100%
.mat-list-icon
    color: rgba(0, 0, 0, 0.54)
