<div class="container">
  <mat-card>
    <mat-form-field>
        <input matInput #titleInput placeholder="Заголовок" [formControl]="titleFormControl">
    </mat-form-field>
    <mat-form-field class="summ">
      <input matInput placeholder="Сумма" [formControl]="summFormControl" type="number">
      <span matPrefix>₽&nbsp;</span>
    </mat-form-field>
  </mat-card>
  <div style="width: 100vw; height: 80vh; display: flex; align-items: center; justify-content: center">
    <ngx-file-picker #uploader
      [totalMaxSize]="50.5"
      [fileMaxCount]="5"
      [fileMaxSize]="200"
      [itemTemplate]="itemTemplate"
      [uploadType]="'multi'"
      (validationError)= "onValidationError($event)"
      [adapter]="adapter"
      [fileExtensions]="['pdf', 'jpg', 'png', 'PNG', 'mp4', 'css', 'docx', 'txt', 'exe']"
      (uploadSuccess)="onUploadSuccess($event)"
      (removeSuccess)="onRemoveSuccess($event)"
      [showeDragDropZone]="true"
      [showPreviewContainer]="true"
      [customValidator]="myCustomValidator"
      (fileAdded)="onFileAdded($event)">
    </ngx-file-picker>
  </div>
  <ng-template #itemTemplate let-fileItem="fileItem">
    <p>{{fileItem.file.size}}</p>
    <p>{{fileItem.fileName}}</p>
    <img src={{fileItem.target.result}} />
    <button (click)="uploader.removeFile(fileItem)">Remove</button>
  </ng-template>
  <mat-card>
    <mat-form-field>
      <textarea matTextareaAutosize matInput placeholder="Описание" [formControl]="descriptionFormControl"></textarea>
    </mat-form-field>
  </mat-card>
</div>
