<mat-form-field>
    <p>
        <input type="text" value="abc"> (text)
    </p>
    <p>
        <input type="radio" value="A" name="choice">
        <input type="radio" value="B" name="choice" checked>
        <input type="radio" value="C" name="choice"> (radio)
    </p>
    <p>
        <input type="file" checked> (file)
    </p>
</mat-form-field>
 
                                               
                                        