@import './setting.sass'

.mat-toolbar
    display: flex
    align-items: center
    text-align: center
    justify-content: center
    align-content: space-between
    margin: 0
    padding: 0
    height: 8vw
    A:link, A:visited, A:active, A:hover
        text-decoration: none
        color: gold
        font-family: Garamond, serif
        font-weight: bold
        font-size: 9vw
        line-height: 9vw
    button
        margin: 2px
        padding: 2px
        height: 5vw
        font-size: 3vw
        min-width: 8vw 
        line-height: 5vw
        display: flex
        justify-content: center
    button.mobile
        display: none
    button.desktop
        display: inline-flex

.button-green
    color: green

.spacer
    flex: 1 1 auto

@media (max-width: 768px)
    .mat-toolbar
        button.mobile
            display: inline-flex
        button.desktop
            display: none

@media (min-width: 1200px)
    .mat-toolbar
        height: 3vw
        A:link, A:visited, A:active, A:hover
            font-size: 4vw
            line-height: 4vw
        button
            height: 2.5vw
            font-size: 1.5vw
            min-width: 4vw 
            line-height: 2.5vw
