<mat-toolbar color="primary">
  <span class="spacer"></span>
  <a routerLink="/home" routerLinkActive="active">GoldArm</a>
  <span class="spacer"></span>
  <div *ngIf="dataService.auth; else menu">
    <button mat-raised-button routerLink="/order-create" routerLinkActive="active" class="button-green desktop"> Создать заказ</button>
    <button mat-raised-button routerLink="/order-create" routerLinkActive="active" class="button-green mobile"><i class="fas fa-plus"></i></button>
    &nbsp;
    <button mat-raised-button routerLink="/profile" routerLinkActive="active" class="button-green desktop">Профиль</button>
    <button mat-raised-button routerLink="/profile" routerLinkActive="active" class="button-green mobile"><i class="fas fa-user"></i></button>
    &nbsp;
    <button mat-raised-button (click)="dataService.clean(); exit()" class="desktop">Выйти</button>
    <button mat-raised-button (click)="dataService.clean(); exit()" class="mobile"><i class="fas fa-door-open"></i></button>
  </div>
  <ng-template #menu>
    <button mat-raised-button routerLink="/registration" routerLinkActive="active" class="button-green desktop">Регистрация</button>
    <button mat-raised-button routerLink="/registration" routerLinkActive="active" class="button-green mobile"><i class="fas fa-user"></i></button>
    &nbsp;
    <button mat-raised-button routerLink="/auth" routerLinkActive="active" class="desktop">Вход</button>
    <button mat-raised-button routerLink="/auth" routerLinkActive="active" class="mobile"><i class="fas fa-door-closed"></i></button>
  </ng-template>
  <span class="spacer"></span>
</mat-toolbar>
<br>
<ag-grid-angular 
    style="width: 500px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
<br>
<router-outlet></router-outlet>
