<mat-card>
    <div class="flex">
        <h1>
            Профиль
        </h1>
    </div>
    <br>
    <div style="display: flex">
        <div class="image">
            <label>
                <input id="file" type="file" (change)="onFileChange($event)" accept="image/*"/>
                <ng-container *ngIf="dataService.image != '0'; else elseTemplate">
                    <img [src]="settingService.url + '/data/images/' + dataService.image">
                </ng-container>
                <ng-template #elseTemplate>
                    <img [src]="settingService.url + '/assets/images/avatar.png'">
                </ng-template>
                <div class="edit">
                    <i class="fal fa-edit fa-custom" style="color:grey"></i>
                </div>
                <span aria-hidden="true"></span>
            </label>
        </div>
        <div style="padding-left: 15px">
            <table>
                <tr><td><b>ФИО</b></td><td>{{dataService.name}}</td></tr>
                <tr><td><b>Email</b></td><td>{{dataService.email}}</td></tr>
                <tr><td><b>Тип</b></td><td>{{dataService.type}}</td></tr>
                <tr><td><b>Роль</b></td><td>{{dataService.role}}</td></tr>
                <tr><td><b>Город</b></td><td>{{dataService.city}}</td></tr>
            </table>
        </div>
    </div>
</mat-card>
