@media only screen and (max-width: 600px)
    .image
        width: 150px

.image
    width: 500px
    position: relative
    overflow: hidden
    .edit
        position: absolute
        left: 0
        bottom: 0
        right: 0
        top: 0
        background: rgba(255,255,255, 0.7)
        display: none
        align-items: center
        justify-content: center
    &:hover
        .edit
            display: flex
    img
        width: 500px
    @media only screen and (max-width: 800px)
        img
            width: 150px

    @media only screen and (max-width: 800px)
        .fa-custom
            display: inline

    
label
    input, span
        display: none

.flex
    display: flex
    justify-content: center

table
    font-size: 24px